---

---

<section class="generator">
    <div class="card">
      <div id="password" class="password">
        Haz clic para generar
      </div>
  
      <button onclick="generatePassword()">
        Generar contraseña
      </button>
    </div>
  </section>
  
  <script>
  document.addEventListener("DOMContentLoaded", () => {
  
    window.generatePassword = function(){
  
      const chars =
      "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%&*"
  
      let password = ""
  
      for(let i=0;i<12;i++){
        password += chars.charAt(
          Math.floor(Math.random()*chars.length)
        )
      }
  
      document.getElementById("password").innerText = password
  
    }
  
  })
  </script>